*{
    margin:0;
    padding:0;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
ul, li{
    list-style: none;
}
/* navbar css --- */
/* carousel css - */
.carousel-text{
    width:1296px;
}
/* footer css ------ */
.footer-menu  li  {
    
    border:1px solid rgba(0, 0, 0, 0.205);
}